	.wrap{

    background: linear-gradient(to right, rgb(34, 73, 243),rgba(84,169,208,255)); 
    text-align: left;
    font-size: 20px;
    padding : 20px 450px;
    color: #ffffff;
}   

.sunday{

    background: linear-gradient(to left, rgb(34, 73, 243),rgba(84,169,208,255)); 
    text-align: right;
    font-size: 20px;
    padding : 20px 450px;
    color: #ffffff;

}